$hdng-ft: 'Lexend Deca', sans-serif;
$primary-clr: rgb(19, 19, 19);



/* Removes blue focus box */
*:focus {
  outline: 0;
}

.hd-ft-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-clr;
  div {
    h1 {
      color: white;
    }
    p {
      color: white;
    }
  }
}

#mobile-instruction {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
}

#unsticky-head {
  z-index: 2;
  background-color: $primary-clr;
  width: 100%;
}

main {
  margin: 100px;
  div {
    .header-fonts {
      font-family: $hdng-ft;
      text-align: center;
    }
    .alignment-fixer {
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-family: $hdng-ft;
      width: 85%;
      text-align: justify;
    }
  }
}

body {
  margin: 0px;
  background-color: #28292b;
}

#calculator {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 750px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  justify-content: center;
  text-align: center;
  h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #calculator-inputs {
    grid-column: 2 / 3;
    grid-row: 2 / 3
  }
  #calculatorResult {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator-elements {
    padding: 10px;
    border-radius: 20px;
    border-color: black;
    background-color: $primary-clr;
    color: white;
    box-shadow: none;
    font-family: $hdng-ft;
  }
}

.info-window {
  background-color: $primary-clr;
  padding: 20px;
  border: 3px solid black;
  margin-bottom: 15px;
  color: white;
  h1 {
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0px 40px 0px 40px;
    text-align: justify;
  }
}

footer {
  height: 80px;
}


@import '_phonescreen.scss';
